<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Member System</title>
  <link rel='shortcut icon' href='#' />
  <link rel='stylesheet' href='../style.css' type='text/css'>
</head>

<body>
  <div class='header'>歡迎光臨，這是會員頁</div>
  <div class='msg'>{{ name }}，歡迎登入系統</div>
  <a href='/signout'>登出系統</a>
  <div class='inputBlock'>
    <div>查詢會員姓名</div>
    <input id='queryName' type='text' placeholder='請輸入要查詢的會員帳號' />
    <button id='query' >查詢</button>
    <div id='showName'>
  </div>
  <div class='inputBlock'>
    <div>更新我的姓名</div>
    <input id='updateName' type='text' placeholder='請輸入新的姓名' />
    <button id='update' >更新</button>
    <div id='showNewName'></div>
  </div>
  <script type='text/javascript' src='../member.js'></script>
</body>

</html>